---
title: About Us
sections:
  - type: hero
    headline: Our Practice
    subtext: Get to know our office, and our staff
    bg_image: ''
    alt: none
    btn_text: Get Started
    btn_link: /contact
    bg_color: '#198754'
    text_theme: text-white
    btn_bg_color: '#0d6efd'
    btn_txt_color: '#ffffff'
  - type: hero_inner
    headline: Areas of focus
    subtext: ''
    section_theme: bg-natural-white text-body
    bg_image: ''
    icon_color: text-danger
layout: base.njk
---
