---
title: About Us
sections:
  - type: hero
    headline: Our Practice
    subtext: Get to know our office, and our staff
    bg_image: ''
    alt: none
    btn_text: Get Started
    btn_link: /contact
    bg_color: '#198754'
    text_theme: text-white
    btn_bg_color: '#0d6efd'
    btn_txt_color: '#ffffff'
  - type: hero_home
    headline: Growth starts here.
    subtext: Professional counseling for individuals, couples, and families in Lynchburg, VA.
    lottie_file: /assets/images/Growthpoint Counseling Group Logo_Color.png
    btn_1_text: Meet Our Team
    btn_1_link: /team
    btn_2_text: Learn More
    btn_2_link: /about
    section_theme: bg-body-tertiary text-body
layout: base.njk
---
