---
title: Contact
sections:
  - type: hero
    headline: Get in Touch With Our Team
    subtext: We’re here to help you take the next step toward growth, healing, and clarity. Reach out with questions or appointment requests - we’ll respond as soon as possible.
    bg_image: https://picsum.photos/id/18/1920/1280.webp
    alt: a field of grass
    btn_text: Contact Our Office
    btn_link: /contact
    bg_color: '#0d6efd'
    text_theme: text-white
    btn_bg_color: '#198754'
    btn_txt_color: '#ffffff'
  - type: contact_form
    route_to: main
    button_color: danger
  - type: location
    title: Our Office
    address: 104 Candlewood Ct, Lynchburg, VA 24502
    map_iframe: <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.582899141063!2d-79.23125702469063!3d37.35238227209484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b2d1a253b76317%3A0x4787b231844ddff1!2sGrowthpoint%20Counseling%20Group!5e0!3m2!1sen!2sus!4v1776305318063!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
layout: base.njk
---
