---
title: Frequently Asked Questions
sections:
  - type: hero
    headline: This is a hero
    subtext: hero
    bg_image: ''
    alt: none
    bg_color: '#20c997'
    text_theme: text-dark
    btn_text: lets goooo
    btn_link: /contact
    btn_bg_color: '#198754'
    btn_txt_color: '#ffffff'
layout: base.njk
---
