---
title: Home
sections:
  - type: hero_home
    headline: Growth starts here.
    subtext: Professional counseling for individuals, couples, and families in Lynchburg, VA.
    lottie_file: /assets/images/Hands with sapling(1).json
    btn_1_text: Meet Our Team
    btn_1_link: /team
    btn_2_text: Learn More
    btn_2_link: /about
    section_theme: bg-natural-white text-body
  - type: hero_inner
    headline: ''
    subtext: Our practice is founded on the principles of mutual trust, confidentiality, and applying our education, training, and experience to meet your personal goals. We offer counseling for individuals, couples, families - everyone!
    section_theme: bg-warning text-white
    bg_image: /assets/images/Growthpoint Counseling Group Logo_Grayscale.png
    bg_type: logo
    icon_color: text-white
  - type: info_highlights
    section_theme: bg-body text-body
    title: ''
    card_1:
      icon: geo-alt
      icon_color: text-danger
      heading: Location
      desc: Conveniently located and accessible on Timberlake Rd. Get directions or more info.
      link_text: Get Directions
      link_url: /contact
    card_2:
      icon: building
      icon_color: text-danger
      heading: Our Practice
      desc: Learn more about our approach, and what to expect
      link_text: Learn More
      link_url: /about
    card_3:
      icon: wallet2
      icon_color: text-danger
      heading: Fees & Insurance
      desc: We believe therapy should be accessible. Learn more about our fees and accepted insurances
      link_text: Learn More
      link_url: /about
  - type: team
    section_theme: bg-natural-white text-body
    title: Our Therapists
    card_style: compact
    show_residents: false
  - type: logo_cloud
    title: Accepted Insurances & Professional Affiliations
    logo_list:
      - image: /assets/images/anthem-blue-cross-and-blue-shield.png
        alt: Anthem Blue Cross and Blue Shield insurance company  logo
      - image: /assets/images/aetna.png
        alt: Aetna insurance company logo
      - image: /assets/images/cigna-healthcare.png
        alt: Cigna Healtcare insurance company logo
      - image: /assets/images/sentara-health.png
        alt: Sentara Health insurance company logo
      - image: /assets/images/optum.png
        alt: Optum insurance company logo
  - type: features
    section_theme: bg-body-tertiary text-body
    title: Areas of Focus
    card_list:
      - name: Trauma & Attachment
        desc: Healing from past wounds and building secure, trusting relationships at every stage of life.
        expanded_desc: “Healing from past wounds and learning to build secure, trusting relationships that support you through every stage of life’s journey.”
      - name: Anxiety & Depression
        desc: Finding relief from persistent worry, low mood, and the patterns that keep you feeling stuck.
        expanded_desc: “Finding relief from persistent worry, low mood, and the patterns that keep you feeling stuck, so you can move toward a life that feels lighter, calmer, and more grounded.”
      - name: Mood & Behavior disorders
        desc: Support for managing emotional regulation, impulsivity, and the challenges of daily functioning.
        expanded_desc: “Support for managing emotional regulation, impulsivity, and the everyday challenges of functioning, so you can move through life with greater stability, confidence, and a sense of control.”
      - name: Emotional Overwhelm/ Life Transitions
        desc: Navigating change, loss, and the moments when life feels like too much to carry alone.
        expanded_desc: Navigating change, loss, and the moments when life feels like too much to carry alone, with support that helps you find steadiness, clarity, and a way forward
      - name: Self-harm / Suicidal Thoughts
        desc: A safe, non‑judgmental space to address pain, find stability, and build reasons for hope, with support that meets you exactly where you are.
        expanded_desc: A safe, non‑judgmental space to address pain, find stability, and build reasons for hope, with support that meets you exactly where you are.
      - name: Behavioral Issues
        desc: Addressing patterns of behavior that affect relationships, work, and overall quality of life.
        expanded_desc: Addressing patterns of behavior that affect relationships, work, and overall quality of life, and helping you develop healthier ways of showing up in the places that matter most.
      - name: Faith & Spiritual Struggles
        desc: Integrating Christian faith and values into the healing process in a way that feels authentic to you.
        expanded_desc: Integrating Christian faith and values into the healing process in a way that feels authentic to you, offering space to explore your beliefs while honoring your personal journey and pace.
      - name: Parenting Struggles
        desc: Support for the stress, uncertainty, and adjustment that comes with raising children at any stage.
        expanded_desc: Support for the stress, uncertainty, and constant adjustment that comes with raising children at any stage, offering guidance that helps you feel more grounded, confident, and supported in your role as a parent.
  - type: testimonials
    section_theme: bg-warning text-white
    title: What Our Clients Say
    review_list:
      - author: Jodi Salzmann
        quote: I've had a truly great experience with Growthpoint Counseling. The staff is warm, welcoming, and genuinely committed to helping their clients grow and heal. My counselor is compassionate, insightful, and offers practical tools that have made a real difference in my life. The environment feels safe and supportive, which makes it easier to open up and make progress. I highly recommend Growthpoint to anyone looking for a thoughtful and professional counseling experience.
      - author: Alison Pulliam
        quote: As a mental health provider who has worked with many counselor’s in the area, Growthpoint is in the top of my list for referral when clients are in need of outpatient counseling. I have been able to collaborate with Brittany and Lindsay professionally with wonderful experiences all around. It is evident that they take great care with clients and are skilled in many modalities and interventions, including EMDR. Their success with clients speaks for itself regarding their ability to treat complex issues, extensive trauma, and more. If you or your client is ready to start a healing journey, contacting Growthpoint is a great first step!
      - author: Trish B
        quote: I am a local medical professional, and I have referred many people to Brittany at Growthpoint Counseling Group and consistently receive positive feedback from them. They express their satisfaction with the care they have received, noting that the counselors are professional, compassionate, and knowledgeable. One referral mentioned, "Going to Brittany for counseling was one of the best decisions I've made in a long time." I wholeheartedly recommend this counseling group to anyone seeking support.
  - type: cta
    section_theme: bg-natural-white text-body
    text: Enjoyed working with us?
    btn_text: Google Review
    btn_link: https://www.google.com/search?sca_esv=1cd8785de84224e8&sxsrf=ANbL-n7iT4qDnrH4d68NXXz8QmM_XzYDKw:1776986410562&si=AL3DRZEsmMGCryMMFSHJ3StBhOdZ2-6yYkXd_doETEE1OR-qOT6oqxOmX6CYL9dQB6KZkd_K1K2e1M-sVWv9xnpwBLr6Fi5ROsnnoEsBuEi3nmucQscfoOTBR3w7qgo8KAGORt5ukw7LClNwicg3XI7BH-lw5QU3nw%3D%3D&q=Growthpoint+Counseling+Group+Reviews&sa=X&ved=2ahUKEwiwv5aejoWUAxW7L1kFHSt0JlUQ0bkNegQIMxAH&biw=1272&bih=668&dpr=1.5
    btn_color: btn-danger
layout: base.njk
---
