---
title: Home
sections:
  - type: hero_home
    headline: Growth starts here.
    subtext: Professional counseling for individuals, couples, and families in Lynchburg, VA.
    lottie_file: /assets/images/Hands with sapling(1).json
    btn_1_text: Meet Our Team
    btn_1_link: /team
    btn_2_text: Learn More
    btn_2_link: /about
    section_theme: bg-body-tertiary text-body
  - type: team
    title: Our Therapists
    card_style: compact
  - type: features
    section_theme: bg-body-tertiary text-body
    title: Areas of Focus
    card_list:
      - name: Trauma & Attachment
        desc: Healing from past wounds and building secure, trusting relationships at every stage of life.
        expanded_desc: Trauma can shape the way we see ourselves and connect with others. Whether you've experienced a single difficult event or a lifetime of painful relationships, we provide a safe, supportive space to process what happened, rebuild trust, and develop more secure ways of relating to the people in your life.
      - name: Anxiety & Depression
        desc: Finding relief from persistent worry, low mood, and the patterns that keep you feeling stuck.
        expanded_desc: Persistent worry, low mood, and a sense of being stuck can make everyday life feel overwhelming. We work with you to identify the patterns driving these feelings, develop practical coping strategies, and rediscover a sense of calm, purpose, and possibility.
  - type: logo_cloud
    title: Accepted Insurances & Professional Affiliations
    logo_list:
      - image: /assets/images/anthem-blue-cross-and-blue-shield.png
        alt: Anthem Blue Cross and Blue Shield insurance company  logo
      - image: /assets/images/aetna.png
        alt: Aetna insurance company logo
      - image: /assets/images/cigna-healthcare.png
        alt: Cigna Healtcare insurance company logo
      - image: /assets/images/sentara-health.png
        alt: Sentara Health insurance company logo
      - image: /assets/images/optum.png
        alt: Optum insurance company logo
  - type: testimonials
    section_theme: bg-warning text-white
    title: What Our Clients Say
    review_list:
      - author: James Kirk
        quote: Fantastic, 5 stars
      - author: Jean Picard
        quote: Keeps me engaged
      - author: Geordi LaForge
        quote: Wonderful staff
  - type: cta
    section_theme: bg-natural-white text-body
    text: Enjoyed working with us? We'd love to hear your thoughts.
    btn_text: Google Reviews
    btn_link: https://www.google.com/search?sca_esv=b1db4ebf394e8118&sxsrf=ANbL-n5nRH3bjRf4bJ0eTQdx5h7xXhBumA:1776904614511&si=AL3DRZEsmMGCryMMFSHJ3StBhOdZ2-6yYkXd_doETEE1OR-qOT6oqxOmX6CYL9dQB6KZkd_K1K2e1M-sVWv9xnpwBLr6Fi5ROsnnoEsBuEi3nmucQscfoOTBR3w7qgo8KAGORt5ukw7LClNwicg3XI7BH-lw5QU3nw%3D%3D&q=Growthpoint+Counseling+Group+Reviews&sa=X&ved=2ahUKEwiS2ePC3YKUAxUXKFkFHd2TPVoQ0bkNegQIORAH&biw=2560&bih=1307&dpr=1
    btn_color: btn-danger
layout: base.njk
---
