---
layout: base.njk
title: Services
section_theme: bg-secondary text-white
intro: This is just a test to observe changes in the intro text field
services_list:
  - name: Testing services
    price: This is a test
    description: This is just a test
    featured: true
    cta_text: Test button
---


