---
title: Meet the Team
sections:
  - type: hero
    headline: Growthpoint
    subtext: This is a test
    bg_image: /assets/images/Growthpoint Counseling Group Logo_Color.png
    alt: Growthpoint logo
    btn_text: Get Started
    btn_link: /contact
  - type: team
    section_theme: bg-natural-white text-body
    title: Our Therapists
    card_style: full
    show_residents: false
  - type: cta
    section_theme: bg-body text-body
    text: Want to know more? Visit our FAQ or
    btn_text: Contact Us
    btn_link: /contact
    btn_color: btn-danger
layout: base.njk
---
