---
title: Meet the Team
sections:
  - type: hero
    headline: Growthpoint
    subtext: This is a test
    bg_image: /assets/images/Growthpoint Counseling Group Logo_Color.png
    alt: Growthpoint logo
    btn_text: Get Started
    btn_link: /contact
  - type: hero_inner
    section_theme: bg-body-tertiary text-body
    headline: Our Therapists
    subtext: ''
    bg_image: ''
    icon_color: text-danger
  - type: team
    title: Our Therapists
layout: base.njk
---
