---
title: Meet the Team
sections:
  - type: hero
    headline: Growthpoint
    subtext: This is a test
    bg_image: /assets/images/Growthpoint Counseling Group Logo_Color.png
    alt: Growthpoint logo
    btn_text: Get Started
    btn_link: /contact
  - type: team
    title: Meet Our Therapists
    member_list:
      - image: /assets/images/christina-wocintechchat-com-m-VpcgTEKerEQ-unsplash.jpg
        name: Just Temp
        credentials: LPC
        bio: this is just a test
layout: base.njk
---
